
.tab-button {
    background: transparent;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    transition: all 0.1s ease; /* Smooth transition */
}

.tab-button:hover {
    color: #9F6828 !important;
    font-weight: bold;
    transform: scale(1.1);
}

.tab-button.active {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E3D2BF;
    border: 2px solid #9F6828;
    color: #9F6828 !important;
    font-weight: bold;
    transform: scale(1.1); /* Slightly enlarges the button */
}

/* Default font size for the content */
.tab-button {
    font-size: 16px; /* You can set this to whatever default size you prefer */
}

/* Adjust font size for tablet screens */
@media (min-width: 600px) and (max-width: 1024px) {
    .tab-button {
        font-size: 12px; /* Increase the font size for tablet */
    }

    .tab-content {
        font-size: 12px; /* Adjust the content font size as well */
    }
}


